flows.json
[
    {
        "id": "4faf076e.f0c738",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "4da0f19.604901",
        "type": "osmonitor",
        "z": "4faf076e.f0c738",
        "name": "",
        "subtype": "loadavg1",
        "x": 221.5,
        "y": 180,
        "wires": [
            [
                "c59feb93.706ca8"
            ]
        ]
    },
    {
        "id": "777ded3e.28c854",
        "type": "osmonitor",
        "z": "4faf076e.f0c738",
        "name": "",
        "subtype": "loadavg5",
        "x": 247.5,
        "y": 265,
        "wires": [
            [
                "c59feb93.706ca8"
            ]
        ]
    },
    {
        "id": "6fd885f7.e3553c",
        "type": "osmonitor",
        "z": "4faf076e.f0c738",
        "name": "",
        "subtype": "loadavg15",
        "x": 263.5,
        "y": 372,
        "wires": [
            [
                "c59feb93.706ca8"
            ]
        ]
    },
    {
        "id": "c59feb93.706ca8",
        "type": "dbfunction",
        "z": "4faf076e.f0c738",
        "name": "",
        "func": "let arrival = Date.now();\n\nconsole.log(msg.subtype + ', ' + arrival + ', ' + msg.payload.ts + ', ' + msg.payload.value);\n\nreturn {\n    name: 'export',\n    urls: 'https://export.amar.io',\n    payload: {\n        url: 'https://export.amar.io',\n        data: msg.subtype + ', ' + arrival + ', ' + msg.payload.ts + ', ' + msg.payload.value\n    }\n};",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"name\": {\n            \"type\": \"literal\"\n        },\n        \"urls\": {\n            \"type\": \"literal\"\n        },\n        \"payload\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"url\": {\n                    \"type\": \"literal\"\n                },\n                \"data\": {\n                    \"type\": \"literal\"\n                }\n            }\n        }\n    }\n}",
        "noerr": 0,
        "x": 449,
        "y": 266,
        "wires": [
            [
                "e43d5704.0eb488",
                "1605283a.e36bc8"
            ]
        ]
    },
    {
        "id": "e43d5704.0eb488",
        "type": "debugger",
        "z": "4faf076e.f0c738",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 583.5,
        "y": 231,
        "wires": []
    },
    {
        "id": "1605283a.e36bc8",
        "type": "export",
        "z": "4faf076e.f0c738",
        "name": "localhost",
        "urls": "https://export.amar.io",
        "payload": {},
        "x": 579,
        "y": 320,
        "wires": []
    }
]